<div class="container-fluid">
   <div class="row">
            <div>
<form action="http://www.lavamelon.com:1337/files/upload" ng-upload="completed(content)" class="form-inline">
    <div class="form-group">
     <input class="hidden" type="text" name="type" ng-model="property.type" />
     <input class="hidden" type="text" name="domain" ng-model="property.domain" />
     <input class="hidden" type="text" name="id" ng-model="property.id" />
     <input type="file" name="file"  class/>
     </div>
     <input type="submit" class="btn btn-info btn-sm" value="Upload" ng-disabled="$isLoading"  />
</form>
                <br>
<div class="panel panel-default">
                    <div class="panel-heading overflow-hidden-wrapper">
                        <h3 class="panel-title pull-left">Images attached to this property</h3>
                    </div>
                    <div class="panel-body" >
                        <gallery>
                          <rd-loading ng-hide="doneLoading"></rd-loading>
                          <div class="row gallery" ng-show="doneLoading">
                            <h3 ng-if="!property.images.length">No image yet</h3>
                            <div class="col-sm-4 col-md-3" ng-repeat="img in property.images">
                              <thumbnail file-id="{{img.id}}" file-name="{{img.filename}}" image-source="{{img.url}}"></thumbnail>
                            </div>
                          </div>
                          </gallery>
                    </div>
</div> 
                
                <hr>
                <div class="panel panel-default">
                    <div class="panel-heading overflow-hidden-wrapper">
                        <h3 class="panel-title pull-left">Property detail</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" class="form-horizontal" ng-submit="update()">
                            <div class="row">
                            <fieldset class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="status" class="col-sm-2 control-label">Type:</label>
                                    <div class="col-sm-10">
                                    <select  class="form-control" ng-model="property.type" ng-options="type for type in typeList">
                                        <option value="">-- choose a type --</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="listingPrice" class="col-sm-2 control-label">
                                        Price:
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="listingPrice" type="text" ng-model="property.listingPrice">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address" class="col-sm-2 control-label">
                                        Address:
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="address" type="text" ng-model="property.address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="area" class="col-sm-2 control-label">
                                        Area:
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="area" type="text" ng-model="property.area">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="city" class="col-sm-2 control-label">
                                        City:
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="city" type="text" ng-model="property.city">
                                        </div>

                                </div>
                                <div class="form-group">
                                    <label for="postalCode" class="col-sm-2 control-label">
                                       Postal Code:
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="postalCode" type="text" ng-model="property.postalCode">
                                        </div>

                                </div>
                                
                                <div class="form-group">
                                    <label for="houseNumber" class="col-sm-2 control-label">
                                        House number:
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="houseNumber" type="text" ng-model="property.houseNumber">
                                        </div>

                                </div>
                                
                                <div class="form-group">
                                    <label for="listAgentURL" class="col-sm-2 control-label">
                                        Agent URL :
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="listAgentURL" type="text" ng-model="property.listAgentURL">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="listAgentName" class="col-sm-2 control-label">
                                        Agent Name:
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="listAgentName" type="text" ng-model="property.listAgentName">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="propertyType" class="col-sm-2 control-label">
                                        Property Type:
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="propertyType" type="text" ng-model="property.propertyType">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="totalFloorSize" class="col-sm-2 control-label">
                                        Total Floor Size:
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="totalFloorSize" type="text" ng-model="property.totalFloorSize">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="totalBedroom" class="col-sm-2 control-label">
                                        Total Bedroom:
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="totalBedroom" type="text" ng-model="property.totalBedroom">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="typeOfDwelling" class="col-sm-2 control-label">
                                        Type of Dwelling:
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="typeOfDwelling" type="text" ng-model="property.typeOfDwelling">
                                    </div>
                                </div>
                                
                                 <div class="form-group">
                                    <label for="remarks.en" class="col-sm-2 control-label">
                                        Description:
                                    </label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="remarks.en" rows="5" ng-model="property.remarks.en">
                                        </textarea>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="remarks.zh" class="col-sm-2 control-label">
                                        简介:
                                    </label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="remarks.zh" rows="5" ng-model="property.remarks.zh">
                                        </textarea>
                                    </div>
                                </div>
                                
                            </fieldset>
                            </div>
                            <hr/>
                            <div class="row">
                                 <input class="btn btn-primary btn-lg center-block" type="submit" id="submit" value="Submit" />
                            </div>
                          
                            
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>